@{
    ViewBag.Title = "PageContent";
}
<div class="page_content">
    <div class="info">
    <h3>COVID-19 Pandemic</h3>

    Due to the COVID-19 pandemic, Oakland Community College's Office of the Registrar is working remotely. Please email us or view additional student resources on OCC's COVID-19 Updates and FAQs page. We appreciate your patience during this time.
    </div>

    <div class="info">
    <h3>Procedure for Graduation</h3>


    The College catalog goes into effect at the beginning of the Fall semester. The student is expected to follow a program outlined in the catalog in effect at the time of initial program declaration when being evaluated for a degree or certificate. Program requirements issued in a later catalog which are determined not to be to the detriment of the student while providing the most current degree credentials possible may be substituted for the initial effective catalog, but only one catalog can be used to provide the program requirements to be considered for graduation eligibility.

    After an enrollment break of three or more years, a new effective catalog is established at the time of re-enrollment if the student did not complete all academic requirements before the break.
    </div>





    <div class="info">
    <h3>Graduation Requirements</h3>

    The requirements for graduation may be completed during any semester, but the degree or certificate would be conferred following the conclusion of the semester in which the degree or certificate is being awarded. Individual programs may hold additional award events. To be eligible for a diploma or certificate, the student must complete all of the following requirements:
    <ul>
    <li>Complete all academic requirements of the degree or certificate program sought.</li>
    <li>File a properly and completely executed Application for Graduation. Graduation applications for a desired semester must be completed before the next semester begins.</li>
    <li>Fulfill all financial obligations to the College. Financial Aid recipients must clear the Office of Financial Aid’s special requirements for exiting students.</li>
    </ul>
    Multiple awards may be issued simultaneously; however, students must meet the eligibility and procedural standards for each award.
    </div>
</div>

